<p>&lt;h1&gt;Ti.GA&lt;/h1&gt;</p>

<p>A Goolge Analytics module with products just with you need in a consisten way.</p>

<p>This module was developed out the frustration of trying to support the full Google Analytics SDK only to have Google change their APIs in each version.  Since most developers only care about tracking screens and timing events this module has been developed explicitly with that in mind.</p>

<p>===========================================
&lt;h2&gt;Downloads&lt;/h2&gt;
Download the compiled modules at:</p>

<ul><li><a href="https://github.com/benbahrenburg/Ti.GA/tree/master/Android/dist">Android</a></li><li><a href="https://github.com/benbahrenburg/Ti.GA/tree/master/iphone/dist">iOS</a></li></ul>

<p>&lt;h2&gt;Source&lt;/h2&gt;
Looking for the source? Check out the following:</p>

<ul><li><a href="https://github.com/benbahrenburg/Ti.GA/tree/master/Android/src/ti/ga">Android</a></li><li><a href="https://github.com/benbahrenburg/Ti.GA/tree/master/iphone">iOS</a></li></ul>

<p>&lt;h2&gt;How to...&lt;/h2&gt;</p>

<p>&lt;h4&gt;Add to your project&lt;/h4&gt;
You add the Ti.GA module into your project using the require keyword as shown below.</p>

<p>~~~
var ga = require(&#39;ti.ga&#39;);
~~~</p>

<p>&lt;h4&gt;Module Level Options&lt;/h4&gt;</p>

<p>&lt;b&gt;Enable Trace&lt;/b&gt;
You can enable or disable trace by calling ga.setDebug.  Provide true to enable or false to disable this option.</p>

<p>The following shows how to enable this feature
~~~
ga.setDebug(true);
~~~</p>

<p>&lt;b&gt;OptOut&lt;/b&gt;
Google Analytics provides the ability to opt out of collecting information.  By default you are opt&#39;ed into collecting information.</p>

<p>The following is an example on how to optout of collecting information:
~~~
ga.setOptOut(false);
~~~</p>

<p>If you have at one point opt&#39;ed out you need to explicitly opt back in.  Below is an example of opt&#39;ing into collecting information:
~~~
ga.setOptOut(true);
~~~</p>

<p>&lt;b&gt;setDispatchInterval&lt;/b&gt;
The dispatch interval is how often in seconds that Google Analytics information should be submitted to Google.</p>

<p>The following show how to set the dispatch interval to 15 seconds.
~~~
ga.setDispatchInterval(15);
~~~</p>

<p>&lt;b&gt;setTrackUncaughtExceptions&lt;/b&gt;
On iOS you can set use the setTrackUncaughtExceptions to track unhandled exceptions.</p>

<p>The following is an example on how to enable this feature.
~~~
ga.setTrackUncaughtExceptions();
~~~</p>

<p>&lt;b&gt;Dispatch&lt;/b&gt;
The dispatch method submits data to Google Analytics.  Google Analytics will automatically do this for your, but you can &quot;force&quot; this programmatically.  If you are going to use this it should only be done while your application is not active and has a network connection.  </p>

<p>~~~
ga.dispatch();
~~~</p>

<p>&lt;h4&gt;Creating a tracker&lt;/h4&gt;
var tracker = ga.createTracker({
   trackingId:&#39;YOUR GOOGLE ANALYTICS TRACKER ID&#39;,
   useSecure:true,
   debug:true 
});</p>

<p>&lt;h4&gt;Adding Screen Viewed&lt;/h4&gt;</p>

<p>~~~
tracker.addScreenView(&#39;my-cool-view2&#39;);
~~~</p>

<p>&lt;h4&gt;Adding Timing&lt;/h4&gt;</p>

<p>~~~
    tracker.addTiming({
        category:&quot;myCategory-Timing&quot;,
        label:&quot;myLabel&quot;,
        name:&quot;myName&quot;,
        time:1
    });
~~~</p>

<p>&lt;h4&gt;Adding Event&lt;/h4&gt;</p>

<p>~~~
    tracker.addEvent({
        category:&quot;myCategory-Event&quot;,
        label:&quot;myLabel&quot;,
        value:1
    });<br/>~~~</p>

<p>&lt;h4&gt;Adding Social Network&lt;/h4&gt;</p>

<p>~~~
    tracker.addSocialNetwork({
        network:&quot;facebook&quot;,
        action:&quot;myAcount&quot;,
        target:&quot;myTarget&quot;
    });<br/>~~~</p>

<p>&lt;h4&gt;Adding Exception&lt;/h4&gt;</p>

<p>~~~
    tracker.addException({
        description:&quot;my error description&quot;,
        fatal:false
    });<br/>~~~</p>

<p>&lt;h2&gt;Licensing &amp; Support&lt;/h2&gt;</p>

<p>This project is licensed under the OSI approved Apache Public License (version 2). For details please see the license associated with each project.</p>

<p>Developed by <a href="http://bahrenburgs.com">Ben Bahrenburg</a> available on twitter <a href="http://twitter.com/benCoding">@bencoding</a></p>